.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    padding: 3em;
}

button {
    margin: 1em;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}